/* Força imagem de fundo a ocupar tela inteira */
body {
    font-family: 'Arial', sans-serif;
    background: url('image.jpg') no-repeat center center;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

/* Se precisar forçar o background a realmente cobrir o conteúdo adicional: */
.min-h-screen {
    min-height: 100vh;
}

.bg-cover {
    background-size: cover;
}

.bg-center {
    background-position: center;
}

.scrollbar-blue::-webkit-scrollbar {
    width: 12px;
}

.scrollbar-blue::-webkit-scrollbar-track {
    background: rgba(30, 58, 138, 0.1);
}

.scrollbar-blue::-webkit-scrollbar-thumb {
    background-color: rgba(30, 58, 138, 0.8);
    border-radius: 20px;
    border: 3px solid rgba(30, 58, 138, 0.1);
}

.scrollbar-blue::-webkit-scrollbar-thumb:hover {
    background-color: rgba(30, 58, 138, 1);
}

#output {
    white-space: pre-wrap;
    word-wrap: break-word;
}
